<?xml version="1.0" encoding="utf-8"?>
<robot name="gripper">
    <link name="world"/>

    <joint name="gripper_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="world"/>
        <child link="gripper_link_0"/>
    </joint>
  
    <link name="gripper_link_0">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://iiwa_description/meshes/gripper_base.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://iiwa_description/meshes/gripper_base.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
  
    <link name="finger_link_0">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://iiwa_description/meshes/finger_fixed.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://iiwa_description/meshes/finger_fixed.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
    
    <link name="finger_link_1">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://iiwa_description/meshes/finger_free.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://iiwa_description/meshes/finger_free.stl" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="finger_joint_fixed" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="gripper_link_0"/>
        <child link="finger_link_0"/>
    </joint>
    
    <joint name="finger_joint_revolute" type="revolute">
        <origin xyz="0.05 0.021 0.078" rpy="0 0 0" />
        <axis xyz="1 0 0"/>
        <parent link="gripper_link_0"/>
        <child link="finger_link_1"/>
        <limit lower="-6.283" upper="-5.8468" effort="10" velocity="3"/>
    </joint>
</robot>

